* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f2f2f2;
    font-size: 1.6rem;
}

input,
textarea {
    font-family: "Montserrat";
    font-weight: 700;
}

.wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.btn {
    width: 20rem;
    height: 4rem;
    margin-right: 2rem;
    background-color: #2e86ab;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.08);
    color: #252525;
    background-color: #ffce28;
}

.titles {
    font-weight: 700;
    font-size: 3rem;
    color: #252525;
    text-transform: uppercase;
    padding-bottom: 15px;
}

// NAVBAR

nav {
    position: fixed;
    z-index: 100;
    height: 80px;
    width: 100vw;
    background-color: #ffce28;

    .burger-btn {
        background-color: transparent;
        margin-right: 45px;
        font-size: 30px;
        float: right;
        border: none;
        cursor: pointer;
        display: none;
        line-height: 80px;
    }

    .burger-btn:focus {
        outline: none;
    }

    .author {
        position: absolute;
        top: 18px;
        font-size: 3.6rem;
        padding: 0 2.5rem;
        text-transform: capitalize;
        font-family: "Sacramento";
    }
    .nav-box {
        display: flex;
        justify-content: flex-end;

        li {
            line-height: 80px;
            padding: 0 1.5rem;
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;
            transition: color 0.3s;
            list-style: none;

            .nav-item {
                text-decoration: none;
                color: #252525;
            }

            .nav-item:hover {
                color: #fff;
            }
        }
    }
    .nav-box:last-child {
        margin-right: 3rem;
    }
}

// HEADER / ABOUT

.about {
    width: 100%;
    height: 100vh;

    .about-box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .text-text {
                width: 43.7rem;
                margin: 1rem 2rem;
                padding: 2rem;

                .about-title {
                    margin-bottom: 1.5rem;
                    color: #252525;
                }
                .about-heading {
                    display: flex;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 3.6rem;
                }
                .blue {
                    color: #2e86ab;
                }

                .social-icons {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 2.3rem;

                    .fa-brands {
                        padding: 0 1rem;
                        font-size: 4rem;
                        color: #252525;
                    }

                    i {
                        transition: color 0.3s;
                        transition: scale 0.4s ease;
                    }

                    i:hover {
                        color: #2e86ab;
                        scale: 1.25;
                    }
                }
            }
        }

        img {
            height: 32.2rem;
            width: 32.2rem;
            border-radius: 50%;
            left: 21rem;
            top: 32rem;
            border: 5px solid transparent;
            border-radius: 50%;
            object-fit: cover;
            transition: border 0.3s;
            transition: scale 0.4s;
            transition: 0.3s;
        }

        img:hover {
            border: 5px solid #2e86ab;
            transform: scale(1.05);
        }

        svg {
            position: absolute;
            height: auto;
            width: auto;
            top: 19.7rem;
            left: 7rem;
            z-index: -1;
        }
    }
}

// PROJECTS

.projects {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;

    .projects-heading {
        padding-top: 12rem;
        padding-bottom: 7rem;
        font-weight: 700;
        font-size: 4.8rem;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }

    .first-project {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        padding: 0 21rem;

        .game-one-img {
            height: 300px;
        }
    }

    .first-project-box {
        margin: 10px 50px;

        .first-project-title {
            padding-bottom: 1.5rem;
            padding-top: 4rem;
        }

        .first-project-text {
            width: 45rem;
            padding-bottom: 2rem;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    .second-project {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 8rem;
        padding: 0 18rem;

        .game-two-img {
            height: 300px;
        }
    }

    .second-project-box {
        margin-top: 1rem;

        .second-project-title {
            padding-top: 40px;
        }

        .second-project-text {
            width: 45rem;
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }
}

// CONTACT

.contact {
    position: relative;
    width: 100%;
    height: 95vh;

    .contact-heading {
        padding-top: 12rem;
        padding-bottom: 7rem;
        font-weight: 700;
        font-size: 4.8rem;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .field {
            border: none;
            box-shadow: 2px 2px 5px #2525252a;
        }

        .mail {
            position: relative;
            margin-right: 40rem;
            width: 20rem;
            height: 3rem;
            margin-bottom: 2rem;
            padding-left: 1rem;
            border-radius: 8px;
        }

        .message {
            width: 60rem;
            height: 40rem;
            overflow-y: scroll;
            resize: none;
            border-radius: 8px;
            padding-left: 1rem;
            padding-top: 0.8rem;
        }

        .send-btn {
            margin-top: 2rem;
            margin-left: 42rem;
        }
    }
}

@media (max-width: 576px) {



    .about {
        .about-box {
            .text-content{
                .text-text {
                    .about-heading {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 756px) {
    nav {
        .burger-btn {
            display: block;
        }

        .nav-box {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: #ffce28;
            // li {
            //     display: none;
            // }
        }
        ul.show {
            display: flex;
        }
    }
}

@media (max-width: 992px) {
    .text-content {
        flex-direction: column;
    }
}
