:root {
  --kolor-przycisku: black;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#plansza {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.kwadrat {
  width: 94px;
  height: 94px;
  border: 1px solid black;
}

#wybor--znaku {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  animation-name: examplesec;
  animation-duration: 0.3s;
}

@keyframes examplesec {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kolko {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.krzyzyk {
  transform: rotate(-45deg);
  height: 60px;
}

.krzyzyk-pion {
  border: 1px solid black;
  height: 60px;
  position: relative;
}

.krzyzyk-poziom {
  border: 1px solid rgb(8, 8, 8);
  height: 60px;
  position: absolute;
  top: 0%;
  left: 29.25%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
}

.kwadrat {
  display: flex;
  justify-content: center;
  font-size: 60px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  margin-top: 20px;
  border: none;
  color: white;
  font-size: 22px;
  padding: 20px;
  background-color: var(--kolor-przycisku);
  font-family: 'Montserrat', sans-serif;
  /* border-radius: 42px; */
  cursor: pointer;
}

#info {
  margin-top: 20px;
  font-size: 25px;
  font-family: sans-serif;
}

.slide-right {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: white;
  animation: slide-right 0.5s forwards;
}

@keyframes slide-right {
  from {
    transform: translateX(0) translateY(0px);
  }
  to {
    transform: translateX(100%) translateY(-195px);
  }
}

.scale-down {
  animation: scale-down 0.5s forwards;
}

@keyframes scale-down {
  from {
    transform: translateX(0) scale(1);
  }
  to {
    transform: translateX(-50%) scale(0.5);
  }
}

@media (max-width: 767px) {
  /* .slide-right,
  .scale-down {
    animation: none;
  } */
  @keyframes slide-right {
    from {
      transform: translateX(0) translateY(0px);
    }
    to {
      transform: translateX(80px) translateY(-185px);
    }
  }
  @keyframes scale-down {
    from {
      transform: translateX(0) scale(1);
    }
    to {
      transform: translateX(-70px) scale(0.5);
    }
  }
  .slide-right {
    background-color: black;
    font-size: 15px;
    padding: 12px;
    color: white;
    animation: slide-right 0.5s forwards;
  }
}
#kwadrat--0 {
  border-left: 1px solid white;
  border-top: 1px solid white;
}
#kwadrat--1 {
  border-top: 1px solid white;
}
#kwadrat--2 {
  border-right: 1px solid white;
  border-top: 1px solid white;
}
#kwadrat--3 {
  border-left: 1px solid white;
}
#kwadrat--5 {
  border-right: 1px solid white;
}
#kwadrat--6 {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
#kwadrat--7 {
  border-bottom: 1px solid white;
}
#kwadrat--8 {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.przekreslenie-1 {
  position: absolute;
  width: 100px;
  height: 1px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wygrana {
  background-color: rgba(0, 0, 0, 0.67);
  color: white;
  animation-name: fade-in;
  animation-duration: 0.5s;
}
